<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Student Name</th>
			<th>Marks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>2</td>
			<td>Vibin</td>
			<td>90</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Aditya</td>
			<td>95</td>
		</tr>
	</tbody>
</table>